<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cyp.springsecurity.mapper.UserMapper">

    <select id="getUserByUserName" resultType="MyUserDetails">
        SELECT username,password,enable
        from sys_user
        WHERE username=#{username}
    </select>

    <select id="getRoleByUsername" resultType="String">
        select role_code
        FROM sys_role r
        left join sys_user_role ur on r.id = ur.role_id
        left join sys_user u on u.id = ur.user_id
        where u.username=#{username}
    </select>

    <select id="getAuthorityByRoleCodes" resultType="String">
        SELECT url
        FROM `sys_menu` AS m,sys_role AS r,sys_role_menu AS rm
        WHERE m.id = rm.menu_id
        AND r.id = rm.role_id
        AND r.role_code IN
        <foreach collection="roleCodes" item="roleCode" open="(" separator="," close=")">
            #{roleCode}
        </foreach>
    </select>

    <select id="getUrlsByUserName" resultType="String">
        SELECT url
        FROM `sys_menu` AS m,sys_role AS r,sys_role_menu AS rm,sys_user AS u,sys_user_role AS ur
        WHERE m.id = rm.menu_id
        AND r.id = rm.role_id
		AND u.id = ur.user_id
		AND r.id = ur.role_id
		AND u.username = #{username}
    </select>

    <select id="getUrlByName" resultType="String">
        select url
        from `sys_menu` m
        left join sys_role_menu rm on m.id = rm.menu_id
        left join sys_role r on r.id = rm.role_id
        left join sys_user_role ur on r.id = ur.role_id
        left join sys_user u on u.id = ur.user_id
        where u.username=#{username}
    </select>

</mapper>
